.centered {
    text-align: center;
}

.left,
.right {
    padding: 1.5em 2em;
}

.times,
.footer {
    font-family: 'Courier New', monospace;
    margin: 1em 0em;
}

.times span {
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.8em 0.8em 0.8em 2.5em;
    margin: 0.5em;
}

#prep {
    background: url('https://www.svgrepo.com/show/79446/knives.svg') no-repeat;
    background-size: 20%;
    background-position: 3% 50%;
}

#cook {
    background: url('https://www.svgrepo.com/show/52540/pot.svg') no-repeat;
    background-size: 25%;
    background-position: 5% 50%;
}

.col {
    display: flex;
    text-align: justify;
}

.col div {
    flex: 1;
}

.left img {
    height: 300px;
    width: auto;
    border-radius: 1em;
}